{% extends 'base.html' %}
{% block body %}
     
    
    <div class="container">
      <form action="/" method ="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title</label>
          <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="text" class="form-control" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </form>
    </div>
    <div class="container my-3">
      <h1>Todos</h1>
      {% if allTodo|length == 0 %}
        no record
        {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.no.</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

          {% for Todo in allTodo %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{Todo.title}}</td>
            <td>{{Todo.desc}}</td>
            <td>{{Todo.date_created}}</td>
            <td>
              <a href="/update/{{Todo.sno}}" type="button" class="btn btn-outline-dark">Update</a>
              <a href="/delete/{{Todo.sno}}" type="button" class="btn btn-outline-dark">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

{% endblock body %}